<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://res.cloudinary.com/dsri8v8hs/image/upload/v1767567585/detalleslogo_s8tqnx.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Detalles SV</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
